<!Doctype html>
<html lang="en" ng-app="app">

<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/bootstrap-select.css">
   <script src="js/angular.min.js"></script>
   <script src="js/app.js"></script>
   <script src="js/selectv2.js"></script>
</head>

<body ng-controller="basiccontroller">
   <selectv2 data-options="data.options" data-livesearch="true" data-default="select one" ng-model="value"></selectv2>
   <selectv2 data-options="data.options" data-catagories="data.catagories" data-default="select one" ng-model="value"></selectv2>
   <selectv2 data-options="data.options" ng-model="value"></selectv2>
   <selectv2 data-options="data.options" data-livesearch="true" data-default="select one" ng-model="value"></selectv2>
   <selectv2 data-options="data.options" data-livesearch="true" data-multi="true" data-maxopt="2" data-default="select one" ng-model="value"></selectv2>
   {{value}}
</body>

</html>
